@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;

}

.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.featured img {
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 50%;
 
}

 .titel h2 {
  color: #0E2E50;
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;

}
.titel p {
  color: #72809d;
}


.mtop h4 {
    font-size: 1rem;
    padding-top: 10px;
}

.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  padding: 60px 10px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
}

/*** Category ***/
.cat-item div {
  background: #FFFFFF;
   transition: .5s;
}
.cat-item h4 {
font-weight: 700px;
margin-top: 1px;
font-size: 1rem;
}
.cat-item label {
font-weight: 500;
 color: #e93f29;
}

.cat-item:hover div {
  background: var(--primary);
  border-color: transparent;
}

.cat-item div * {
  transition: .5s;
}

.cat-item:hover div * {
  color: #FFFFFF !important;
}

label {
  color: #0E2E50;
  font-size: 14px;
}
@media (max-width: 391px) {
      .grid4 {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-gap: 30px;
    }
  }

